@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");
.darktheme {
  --bg: #fbfbfc;
  --bg-light: #4c566a;
  --bg-card: #eceff4;
  --color-primary: #353d4f;
  --color-primary-light: #68769b;
  --color-primary-dark: #353d4f;
  --fg: #1f242d;
  --fg-light: #a6aebe;
  --fg-light1: #aab3c5;
  --fg-light2: #c9d0db;
  --fg-light3: #d8dee9;
  --transparency: #00000000;
  --light-news-letter: ;
  --cubetext: rgba(0, 0, 0, 0.1);
  --art-thumb-hov: #eceff4cc;
  --fg-transparent: #d8dee95e;
}
:root {
  --bg: #1c2028;
  --bg-light: #1f242d;
  --bg-card: #1f242d;
  --color-primary: #353d4f;
  --color-primary-light: #4a4f5c;
  --color-primary-dark: #353d4f;
  --fg: #d8dee9;
  --fg-light: #232730;
  --fg-light1: #212731;
  --fg-light2: #2a313f;
  --fg-light3: #353d4f;
  --dark-news-letter: ;
  --cubetext: rgba(255, 255, 255, 0.1);
  --art-thumb-hov: #1f242dcc;
  --fg-transparent: #1f242d5e;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--fg);
  background-color: var(--bg);
  height: 100vh;
  overflow: hidden;
}
.intro {
  margin-bottom: 13rem;
}
.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 68.75em) {
  .container {
    margin-right: 30rem;
  }
}
.header-con {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg);
  z-index: 10;
}
.home-logo-text{
  text-decoration: none;
  align-items: center;
  display: flex;
}
.home-text{
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--fg);
  padding-left: 2rem;
  transition: opacity 200ms ease-in-out 0s;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.scrolling-active{
  padding: 0rem 3rem 0rem 3rem;
  background-color: #13AFF0;

}

.intro_sec{
  background-image: url(img\500PX.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fade-out{
  opacity: 0;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--fg);
  padding-left: 2rem;
  transition: opacity 200ms ease-in-out 0s;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.header {
  padding: 2rem 3rem 0rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0rem;
  
}
.header.sticky{
  padding: 0.2rem ;
  background-color:#13AFF0;
  box-shadow: rgb(0 0 0 / 40%) 0px 1rem 3rem;
}
.header__end {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.sp{
  justify-content: space-between;

}
.header__navigation-link {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--fg);
  font-weight: 300;
  font-size: 2rem;
  border-radius: 5px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  padding: 0.5rem;
}
.header__navigation-link:hover {
  background-color: var(--fg-light);
}
.header__navigation-button {
  border: none;
  color: var(--fg);
  cursor: pointer;
  background-color: #00000000;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: var(--fg);
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
  border-radius: 3px;
}
@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .header__navigation{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: var(--bg-card);
    top: 0;
    right: -100%;
    max-width: 300px;
    padding: 80px 50px;
    transition: .3s linear;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 40%) 0px 1rem 3rem;
  }
  @media screen and (max-width: 500px){
    .header__navigation{
      right: -200%;
    }
}

  .header__navigation-link{
    margin: -20px;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .header__navigation{
    background-color: #f1f1f1;
  }
  
  .header__navigation.active {
    right: 0;
  }

  .menu-toggler.active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .menu-toggler.active .line:nth-child(2){
    width: 0px;
  }
  
  .menu-toggler.active .line:nth-child(1),
  .menu-toggler.active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  
  .menu-toggler.active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }
  
  .menu-toggler.active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-5px) rotate(90deg);
  }
  
}
.goTop{
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--fg-light3);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: var(--bg-light);
  outline: none;
  display: none;
  box-shadow: 0px 0px 10px var(--bg-light);
}
.goTop:hover{
  bottom: 45px;
  background-color: var(--fg-light2);
}

.kofi{
  position: fixed;
  z-index: 999;
  bottom: 30px;
  left: 30px;
  width: 40px;
  height: 40px;
  background-color: var(--fg-light3);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: var(--bg-light);
  outline: none;
  display: none;
  box-shadow: 0px 0px 10px var(--bg-light);
  padding: 5px;
}
.kofi:hover{
  bottom: 35px;
  background-color: var(--fg-light2);
}

.down{
justify-content: center;
padding-top: 1rem;
}
.newsletter__button-icon {
  margin-right: 2rem;
  width: 2rem;
}
.index {
  scroll-snap-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 14rem;
  padding-bottom: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-animation: fadeUp 3s;
  animation: fadeUp 3s;
}
@media only screen and (max-width: 58.25em) {
  .index {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.index__photo {
  width: 25%;
  height: 25vw;
  overflow: hidden;
  position: relative;
  margin-right: -7rem;
}
@media only screen and (max-width: 58.25em) {
  .index__photo {
    margin: auto;
    width: 32%;
    height: 32vw;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .index__photo {
    margin: auto;
    width: 45%;
    height: 45vw;
    margin-bottom: 2rem;
  }
}
.index__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.index__text {
  color: var(--fg);
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 37.5em) {
  .index__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.index__text-primary {
  font-size: 8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 31.25em) {
  .index__text-primary {
    font-size: 6.2rem;
  }
}
.index__text-secondary {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 400;
  color: var(--color-primary);
}
.index__text-special {
  font-size: 8rem;
  font-weight: 700;
}
@media only screen and (max-width: 37.5em) {
  .index__text-special {
    display: block;
    font-size: 6.2rem;
  }
}
.index .txt-type {
  color: var(--color-primary);
}
.index .txt-type > .txt {
  border-right: 0.3rem solid var(--color-primary);
}
.index__links {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 58.25em) {
  .index__links {
    margin: 3rem 0;
  }
}
.index__links-button:not(:last-child) {
  margin-right: 3rem;
}
.index__links-icon {
  width: 3.8rem;
  height: 3.8rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: var(--fg);
}
@media only screen and (max-width: 58.25em) {
  .index__links-icon {
    width: 4.5rem;
    height: 4.5rem;
  }
}
.index__links-icon-1:hover {
  color: var(--color-primary);
}
.index__links-icon-2:hover {
  color: var(--color-primary);
}
.index__links-icon-3:hover {
  color: var(--color-primary);
}
@-webkit-keyframes fadeUp {
  from {
    -webkit-transform: opacity(100%);
    transform: opacity(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: opacity(0);
    transform: opacity(0);
    opacity: 1;
  }
}
@keyframes fadeUp {
  from {
    -webkit-transform: opacity(100%);
    transform: opacity(100%);
    opacity: 0;
  }
  to {
    -webkit-transform: opacity(0);
    transform: opacity(0);
    opacity: 1;
  }
}
.about {
  padding: 6rem 10rem;
  padding-top: 10rem;
  margin-bottom: 10rem;
  background-color: var(--fg-light1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  scroll-snap-align: center;
}
@media only screen and (max-width: 58.25em) {
  .about {
    padding: 5rem;
  }
}
@media only screen and (max-width: 58.25em) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.about__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 58.25em) {
  .about__title {
    font-size: 3rem;
  }
}
.about__text {
  width: 90%;
  color: var(--fg);
  font-size: 2.2rem;
}
.about__text-p {
  font-weight: 400;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 58.25em) {
  .about__text-p {
    font-size: 2.2rem;
  }
}
.about__text-f {
  font-weight: 400;
}
@media only screen and (max-width: 58.25em) {
  .about__text-f {
    display: none;
  }
}
.about__text-special {
  font-weight: 700;
  color: var(--color-primary);
}
.about__text-special2 {
  font-style: italic;
}
.about__photo {
  margin-left: 10rem;
}
@media only screen and (max-width: 58.25em) {
  .about__photo {
    margin-left: 5rem;
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .about__photo {
    margin-left: 7rem;
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .about__photo {
    margin-left: 5rem;
    margin-top: 5rem;
    margin-bottom: 19rem;
  }
}
.about__photo img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 58.25em) {
  .about__photo img {
    width: 80%;
    height: 80%;
  }
}
.about__button {
  border-radius: 0.5rem;
  border: 0.3rem solid var(--bg-light);
  text-decoration: none;
  padding: 1rem;
  color: var(--color-primary);
  cursor: pointer;
  background-color: var(--transparency);
  -webkit-appearance: none;
  -moz-appearance: none;
  fill: var(--fg);
}
.about__button:hover {
  border: 0.3rem solid var(--color-primary);
}
.about__button:hover a {
  color: var(--color-primary);
  fill: var(--color-primary);
}
.about__button-link {
  text-decoration: none;
  color: var(--fg);
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.9rem;
  fill: var(--fg);
}
.about__button-icon {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.projects {
  margin-top: 2rem;
  scroll-snap-align: center;
  padding: 2rem 5rem;
}
@media only screen and (max-width: 58.25em) {
  .projects {
    padding: 0rem;
  }
}
.projects__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 58.25em) {
  .projects__title {
    font-size: 3rem;
  }
}
.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5rem;
}
@media only screen and (max-width: 58.25em) {
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .projects__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
.allprojects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
@media only screen and (max-width: 58.25em) {
  .allprojects__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .allprojects__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.projects__project {
  background-color: var(--bg-card);
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--fg);
  -webkit-box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.1);
}

.projects__project:hover {
  -webkit-transform: translateY(-0.2rem);
  transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.3);
}
.project__image {
  background-size: cover;
  background-position: center;
  height: 30rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 58.25em) {
  .project__image {
    height: 26rem;
  }
}
@media only screen and (max-width: 64em) {
  .project__image {
    height: 25rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .project__image {
    height: 18rem;
  }
}
.project__image-1 {
  background-image: url(../img/dev\ yt\ theme.png);
}
.project__image-2 {
  background-image: url(../img/nordic\ diplay.png);
}
.project__image-3 {
  background-image: url(../img/one\ commander\ dev\ theme\ prev.png);
}
.project__image-4 {
  background-image: url(../img/dinogame.png);
}
.project__image-5 {
  background-image: url(../img/controlled\ clock.png);
}
.project__image-6 {
  background-image: url(../img/betterdiscord\ themes.png);
}
.project__image-7 {
  background-image: url(../img/opera\ gx\ yt\ prev.png);
}
.project__image-8 {
  background-image: url(../img/ueli\ prev.png);
}
.project__image-9 {
  background-image: url(../img/paper\ chrome\ prev.jpg);
}
.project__image-10 {
  background-image: url(../img/paper\ one\ commander.png);
}
.project__image-11 {
  background-image: url(../img/paper\ yt\ theme\ prev.png);
}
.project__image-12 {
  background-image: url(../img/Nordic\ vis.png);
}
.project__image-13 {
  background-image: url(../img/opera\ neon\ YT.png);
}

/*fields*/
.field__image-1 {
  background-image: url(../img/blogging.png);
}
.field__image-1:hover {
  background-image: url(../img/blogging\ 1.png);
}
.field__image-2 {
  background-image: url(../img/coding.png);
}
.field__image-2:hover {
  background-image: url(../img/coding\ 1.png);
}
.field__image-3 {
  background-image: url(../img/Customizing.png);
}
.field__image-3:hover {
  background-image: url(../img/Customizing\ 1.png);
}
.field__image-4 {
  background-image: url(../img/Digital\ Art.png);
}
.field__image-4:hover {
  background-image: url(../img/Digital\ Art\ 1.png);
}
.field__image-5 {
  background-image: url(../img/Translation.png);
}
.field__image-5:hover {
  background-image: url(../img/Translation\ 1.png);
}
.field__image-6 {
  background-image: url(../img/Video\ Editing.png);
}
.field__image-6:hover {
  background-image: url(../img/Video\ Editing\ 1.png);
}
/*.*/
/*posts*/
.post__image-1 {
  background-image: url(../img/post-imgs/it\ is\ all\ about\ the\ first\ step.png);
}
.post__image-1:hover {
  filter: brightness(50%);
}
.post__image-2 {
  background-image: url(../img/post-imgs/magical-pen.jpg);
}
.post__image-2:hover {
  filter: brightness(50%);
}
.post__image-3 {
  background-image: url(../img/post-imgs/Global\ Discounts.png);
}
.post__image-3:hover {
  filter: brightness(50%);
}
.post__image-4 {
  background-image: url(../img/post-imgs/winter-butterflys.jpg);
}
.post__image-4:hover {
  filter: brightness(50%);
}
.post__image-5 {
  background-image: url(../img/post-imgs/Moons-visit.jpg);
}
.post__image-5:hover {
  filter: brightness(50%);
}
.post__image-6 {
  background-image: url(../img/post-imgs/Painting\ is\ easy\ when\ you\ don’t\ know\ how\,\ but\ very\ difficult\ when\ you\ do.png);
}
.post__image-6:hover {
  filter: brightness(50%);
}
.post__image-7 {
  background-image: url(../img/post-imgs/start\ this\ year.png);
}
.post__image-7:hover {
  filter: brightness(50%);
}
.post__image-8 {
  background-image: url(../img/post-imgs/lighting\ sky.jpg);
}
.post__image-8:hover {
  filter: brightness(50%);
}
.post__image-9 {
  background-image: url(../img/post-imgs/ps-challenge.png);
}
.post__image-9:hover {
  filter: brightness(50%);
}
.post__image-10 {
  background-image: url(../img/post-imgs/only-cats-can-see-it.jpg);
}
.post__image-10:hover {
  filter: brightness(50%);
}
.post__image-11 {
  background-image: url(../img/post-imgs/huge-lamp.png);
}
.post__image-11:hover {
  filter: brightness(50%);
}
.post__image-12 {
  background-image: url(../img/post-imgs/tree.png);
}
.post__image-12:hover {
  filter: brightness(50%);
}
.post__image-13 {
  background-image: url(../img/post-imgs/whales2.png);
}
.post__image-13:hover {
  filter: brightness(50%);
}
.post__image-14 {
  background-image: url(../img/post-imgs/liq.png);
}
.post__image-14:hover {
  filter: brightness(50%);
}
.post__image-15 {
  background-image: url(../img/post-imgs/see-the-cas.png);
}
.post__image-15:hover {
  filter: brightness(50%);
}
.post__image-16 {
  background-image: url(../img/post-imgs/elc\ line.png);
}
.post__image-16:hover {
  filter: brightness(50%);
}
.post__image-17 {
  background-image: url(../img/post-imgs/Morning\ moons\ \(Medium\).png);
}
.post__image-17:hover {
  filter: brightness(50%);
}
.post__image-18 {
  background-image: url(../img/post-imgs/b.s.png);
}
.post__image-18:hover {
  filter: brightness(50%);
}
.post__image-19 {
  background-image: url(../img/post-imgs/red-flag.png);
}
.post__image-19:hover {
  filter: brightness(50%);
}
.post__image-20 {
  background-image: url(../img/post-imgs/red\ flag\ 2.png);
}
.post__image-20:hover {
  filter: brightness(50%);
}
.post__image-21 {
  background-image: url(../img/post-imgs/expo.png);
}
.post__image-21:hover {
  filter: brightness(50%);
}
.post__image-22 {
  background-image: url(../img/post-imgs/@DevinElleKurtz\ brushes.png);
}
.post__image-22:hover {
  filter: brightness(50%);
}
.post__image-23 {
  background-image: url(../img/post-imgs/Barry\ Webb.png);
}
.post__image-23:hover {
  filter: brightness(50%);
}
.post__image-24 {
  background-image: url(../img/post-imgs/CintaVidal.jpg);
}
.post__image-24:hover {
  filter: brightness(50%);
}
/*.*/
/* ------ blog -- */
.blog__image-1 {
  background-image: url(../img/hashnode.png);
}
.blog__image-1:hover {
  background-image: url(../img/hashnode\ hover.png);
}
.blog__image-2 {
  background-image: url(../img/blogger.png);
}
.blog__image-2:hover {
  background-image: url(../img/blogger\ hover.png);
}
/*.*/

/*customizing*/
.customizing__image-1 {
  background-image: url(../img/nord\ cursor\ preview.png);
}

.customizing__image-2 {
  background-image: url(../img/aon\ icons\ prev.png);
}

.customizing__image-3 {
  background-image: url(../img/wall\ prev.png);
}

.customizing__image-4 {
  background-image: url(../img/dev\ cur\ prev.png);
}

.customizing__image-5 {
  background-image: url(../img/ipad\ pro\ cursor\ prev.png);
}
.customizing__image-6 {
  background-image: url(../img/hand\ painted\ prev.png);
}
.customizing__image-7 {
  background-image: url(../img/opera_gx_cursor_by_abod1960_delxefw-pre.jpg);
}
.customizing__image-8 {
  background-image: url(../img/paper_cursor_by_abod1960_dem6vtn-pre.jpg);
}
.customizing__image-9 {
  background-image: url(../img/paper_dock_icons_by_abod1960_dem7e0z-pre.jpg);
}
.customizing__image-10 {
  background-image: url(../img/paper\ walls.png);
}
.customizing__image-11 {
  background-image: url(../img/opera\ neon\ cursor\ prev.png);
}
.customizing__image-12 {
  background-image: url(../img/OPERA\ NEON\ WALLPAPERS\ PREV.png);
}
.customizing__image-13 {
  background-image: url(../img/Opera\ Gx\ Wallpaper\ Prev.png);
}
.customizing__image-14 {
  background-image: url("../img/Blue glowing cursor prev2.png");
}
.customizing__image-15 {
  background-image: url("../img/Nord Cursor Prev.png");
}
.customizing__image-16 {
  background-image: url("../img/Rectangular hand Painted.png");
}


/*.*/

/*FIND ME*/
.find-me__image-1 {
  background-image: url(../img/GITHUB.png);
}

.find-me__image-2 {
  background-image: url(../img/DEVIANTART.png);
}

.find-me__image-3 {
  background-image: url(../img/ARTSTATION1.png);
}

.find-me__image-4 {
  background-image: url(../img/INSTA.png);
}

.find-me__image-5 {
  background-image: url(../img/RED\ BUBBLE.png);
}
.find-me__image-6 {
  background-image: url(../img/CROWDIN.png);
}
.find-me__image-7 {
  background-image: url(../img/HASHNODE1.png);
}
.find-me__image-8 {
  background-image: url(../img/BLOGGER1.png);
}
.find-me__image-9 {
  background-image: url(../img/VIMEO.png);
}
.find-me__image-10 {
  background-image: url(../img/GUMROAD.png);
}
.find-me__image-11 {
  background-image: url(../img/500PX.png);
}
.find-me__image-12 {
  background-image: url(../img/GMAIL.png);
}
.find-me__image-13 {
  background-image: url(../img/DISCORD1.png);
}
.find-me__image-14 {
  background-image: url(../img/REDDIT.png);
}
.find-me__image-15 {
  background-image: url(../img/BEHANCE.png);
}
.find-me__image-16 {
  background-image: url(../img/FLICKR1.png);
}

/*.*/

/*join us*/
.join-us__image-1 {
  background-image: url(../img/discord\ Abod1960.png);
}

.join-us__image-2 {
  background-image: url(../img/reddit\ Abod1960.png);
}

.join-us__image-3 {
  background-image: url(../img/tribe\ Abod1960.png);
}

.join-us__image-4 {
  background-image: url(../img/INSTA.png);
}

.join-us__image-5 {
  background-image: url(../img/RED\ BUBBLE.png);
}
.join-us__image-6 {
  background-image: url(../img/CROWDIN.png);
}
.join-us__image-7 {
  background-image: url(../img/HASHNODE1.png);
}
.join-us__image-8 {
  background-image: url(../img/BLOGGER1.png);
}
.join-us__image-9 {
  background-image: url(../img/VIMEO.png);
}
.join-us__image-10 {
  background-image: url(../img/GUMROAD.png);
}
.join-us__image-11 {
  background-image: url(../img/500PX.png);
}
.join-us__image-12 {
  background-image: url(../img/GMAIL.png);
}
/*.*/

.project__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.project__stars {
  font-size: 1.5rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.project__stars-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  color: #ebcb8b;
}
.project__text {
  padding: 2rem;
}
@media only screen and (max-width: 58.25em) {
  .project__text {
    padding: 3rem;
  }
}
.project__title {
  font-size: 2rem;
  font-weight: 700;
}
@media only screen and (max-width: 58.25em) {
  .project__title {
    font-size: 3rem;
  }
}
.project__description {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}
@media only screen and (max-width: 58.25em) {
  .project__description {
    font-size: 1.9rem;
  }
}
.coding_cards_links{
  width: 100%;
  height: 100%;
}
/*my edites*/
.index__links-svg {
  width: 3.8rem;
  height: 3.8rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  fill: var(--fg);
}
.index__btn-svg {
  fill: red;
}

.news-letter:hover {
  background: color #353d4f !important;
  color: white !important;
}
.ununderlined {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
}
.ununderlined :hover{
  color: var(--color-primary-light);
}
.about_title {
  border-bottom: 2px solid;
  padding-bottom: 0.5em;
  margin-bottom: 0.3em;
  font-size: 3rem;
  font-weight: normal;
}
.par_style {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.about_cols {
  padding: 0rem 6rem;
  scroll-snap-align: center;
  font-size: 1.8rem;
}
@media only screen and (max-width: 58.25em) {
  .about_cols {
    padding: 7rem;
  }
}
.about_col {
  padding: 0rem 0rem 0rem 0rem;
  scroll-snap-align: center;
}
@media only screen and (max-width: 58.25em) {
  .about_col {
    padding: 0rem;
  }
}
.about_cols__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}
@media only screen and (max-width: 58.25em) {
  .about_cols__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .about_cols__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.allabout_cols__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}
@media only screen and (max-width: 58.25em) {
  .allabout_cols__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .allabout_cols__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
.white {
  fill: #d8dee9;
}

.icon_cube {
  padding-right: 5px;
}
.cube_links {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--fg);
  font-weight: 300;
  padding-top: 0em;
  letter-spacing: 3px;
}
.buttonx {
  border-radius: 50px;
  top: 75px;
  border: 2px solid var(--fg);
  max-width: 165px;
  max-height: 50px;
}
.button:hover {
  background-color: var(--cubetext);
  transition: 0.3s;
  cursor: pointer;
}
p {
  display: block;
  margin-block-start: 0.8em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.title p {
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
  width: 100%;
  height: 100px;
  padding-top: 1em;
}
.wrap_cube {
  perspective: 800px;
  perspective-origin: 50% 100px;
}
#cube {
  position: relative;
  width: 200px;
  margin: 0 auto;
  transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
}
#cube div {
  position: absolute;
  width: 200px;
  height: 200px;
}
.front {
  background: var(--bg-card);
  transform: translate3d(0, 0, 100px);
}
.left {
  background: var(--bg-card);
  transform: rotateY(270deg) translate3d(-100px, 0, 0);
  transform-origin: center left;
}
.front {
  background: var(--bg-card);
  transform: translate3d(0, 0, 100px);
}
.left {
  background: var(--bg-card);
  transform: rotateY(270deg) translate3d(-100px, 0, 0);
  transform-origin: center left;
}
.back {
  background: var(--bg-card);
  transform: translate3d(0, 0, -100px) rotateY(180deg);
}
.right {
  background: var(--bg-card);
  transform: rotateY(-270deg) translate3d(100px, 0, 0);
  transform-origin: top right;
}
.footer {
  background-color: var(--fg-light3);
  margin-top: 0rem;
  padding: 2rem 2rem;
  scroll-snap-align: center;
}
@media only screen and (max-width: 58.25em) {
  .footer {
    padding: 5rem;
  }
}
.footer_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 0rem;
}
@media only screen and (max-width: 58.25em) {
  .footer_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}
.footer_col-1 {
  grid-row: 1;
  grid-column: 1;
}
@media only screen and (max-width: 58.25em) {
  .footer_col-1 {
    grid-row: 1;
    grid-column: 1;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_col-1 {
    grid-row: 1;
    grid-column: 1;
  }
}
.footer_col-2 {
  grid-row: 1;
  grid-column: 2;
}
@media only screen and (max-width: 58.25em) {
  .footer_col-2 {
    grid-row: 2;
    grid-column: 1;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_col-2 {
    grid-row: 2;
    grid-column: 1;
  }
}
.footer_col-3 {
  grid-row: 1;
  grid-column: 3;
}
@media only screen and (max-width: 58.25em) {
  .footer_col-3 {
    grid-row: 3;
    grid-column: 1;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_col-3 {
    grid-row: 3;
    grid-column: 1;
  }
}
.footer_col-4 {
  grid-row: 1;
  grid-column: 4;
}
@media only screen and (max-width: 58.25em) {
  .footer_col-4 {
    grid-row: 4;
    grid-column: 1;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_col-4 {
    grid-row: 4;
    grid-column: 1;
  }
}
.footer_col-5 {
  grid-row: 1;
  grid-column: 5;
}
@media only screen and (max-width: 58.25em) {
  .footer_col-5 {
    grid-row: 5;
    grid-column: 1;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_col-5 {
    grid-row: 5;
    grid-column: 1;
  }
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 25% 75%;
  grid-template-rows: repeat(1, 1fr);
  /*grid-template-areas:
    'logo logo links links links links';*/
  grid-gap: 2rem;
  padding: 10rem 5rem 3rem;
  border-color: var(--fg);
}
@media only screen and (max-width: 58.25em) {
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: 100% 0%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 30%;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-columns: 100% 0%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 25%;
  }
}
.item1 {
  grid-row: 1;
  grid-column: 1;
  align-content: center;
}
@media only screen and (max-width: 58.25em) {
  .item1 {
    grid-row: 1;
    grid-column: 1;
    padding: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .item1 {
    grid-row: 1;
    grid-column: 1;
    padding: 0rem;
  }
}
.item2 {
  grid-row: 1;
  grid-column: 2;
}
@media only screen and (max-width: 58.25em) {
  .item2 {
    grid-row: 2;
    grid-column: 1;

  }
}
@media only screen and (max-width: 37.5em) {
  .item2 {
    grid-row: 2;
    grid-column: 1;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.footer_title {
  border-bottom: 1px solid;
  padding-bottom: 0.5em;
  margin-bottom: 0.3em;
  font-size: 3rem;
  font-weight: normal;
}
.footer_title:hover {
  border-bottom: 3px solid;
  /*font-weight: 500;*/
  padding-bottom: 13px;
}
@media only screen and (max-width: 65.25em) {
  .footer-item {
    text-align: center;
  }
  .footer_title{
    text-align: center;
  }
}

.newsletter{
  padding: 6rem 4rem;
  margin-top: 2rem;
  scroll-snap-align: center;
}


/*footer svg links grid
--------------------------------------------------------*/

.links-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem 1rem;
  padding: 0rem 1rem 1rem 1rem;
  /*
  padding-left: 6rem;
  padding-right: 6rem;
  */
}
@media only screen and (max-width: 58.25em) {
  .links-container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .links-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
.footer_link-1 {
  grid-row: 1;
  grid-column: 1;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-1 {
    grid-row: 1;
    grid-column: 1;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-1 {
    grid-row: 1;
    grid-column: 1;
  }
}
.footer_link-2 {
  grid-row: 1;
  grid-column: 2;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-2 {
    grid-row: 1;
    grid-column: 2;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-2 {
    grid-row: 1;
    grid-column: 2;
  }
}
.footer_link-3 {
  grid-row: 1;
  grid-column: 3;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-3 {
    grid-row: 1;
    grid-column: 3;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-3 {
    grid-row: 1;
    grid-column: 3;
  }
}
.footer_link-4 {
  grid-row: 1;
  grid-column: 4;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-4 {
    grid-row: 1;
    grid-column: 4;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-4 {
    grid-row: 1;
    grid-column: 4;
  }
}
.footer_link-5 {
  grid-row: 1;
  grid-column: 5;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-5 {
    grid-row: 2;
    grid-column: 1;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-5 {
    grid-row: 2;
    grid-column: 1;
  }
}
.footer_link-6 {
  grid-row: 1;
  grid-column: 6;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-6 {
    grid-row: 2;
    grid-column: 2;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-6 {
    grid-row: 2;
    grid-column: 2;
  }
}
.footer_link-7 {
  grid-row: 1;
  grid-column: 7;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-7 {
    grid-row: 2;
    grid-column: 3;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-7 {
    grid-row: 2;
    grid-column: 3;
  }
}
.footer_link-8 {
  grid-row: 1;
  grid-column: 8;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-8 {
    grid-row: 2;
    grid-column: 4;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-8 {
    grid-row: 2;
    grid-column: 4;
  }
}
.footer_link-9 {
  grid-row: 2;
  grid-column: 1;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-9 {
    grid-row: 3;
    grid-column: 1;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-9 {
    grid-row: 3;
    grid-column: 1;
  }
}
.footer_link-10 {
  grid-row: 2;
  grid-column: 2;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-10 {
    grid-row: 3;
    grid-column: 2;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-10 {
    grid-row: 3;
    grid-column: 2;
  }
}
.footer_link-11 {
  grid-row: 2;
  grid-column: 3;
}
@media only screen and (max-width: 58.25em) {
  .footer_link-11 {
    grid-row: 3;
    grid-column: 3;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer_link-11 {
    grid-row: 3;
    grid-column: 3;
  }
}
/*footer svg links
--------------------------------------------------------*/
.svg_links{
  display: inline-block;
  width: 2em;
  height: 2em;
  fill: var(--fg);
  transition: fill 200ms ease-in-out 0s;
}
@media only screen and (max-width: 58.25em) {
  .svg_links {
    width: 2em;
    height: 2em;
  }
}
@media only screen and (max-width: 37.5em) {
  .svg_links {
    width: 2em;
    height: 2em;
  }
}

/*footer svg links hover color
--------------------------------------------------------*/

.svg_links-github :hover{
  fill: var(--fg-light1);
}
.svg_links-deviantart :hover{
  fill: #05CC46;
}
.svg_links-artstation :hover{
  fill: #13AFF0;
}
.svg_links-behance :hover{
  fill: #053eff;
}
.svg_links-twitter :hover{
  fill: #1DA1F2;
}
.svg_links-vimeo :hover{
  fill: #19B7EA;
}
.svg_links-500px :hover{
  fill: #000000;
}
.svg_links-tumblr :hover{
  fill: #529ECC;
}
.svg_links-crowdin :hover{
  fill: #495166;
}
.svg_links-flicker :hover .flicker1 {
  fill: #005DE1;
}
.svg_links-flicker :hover .flicker2 {
  fill: #FF007E;
}
.svg_links-blogger :hover{
  fill: #fc4f08;
}
.svg_links-hashnode :hover{
  fill: #2962FF;
}
.svg_links-gumroad :hover{
fill: url(#MyGradient);
transition: 0.25s;
}
.svg_links-redbubble :hover{
  fill: #EA0203;
}
.svg_links-linkedin :hover{
  fill: #2867B2;
}
.svg_links-reddit :hover{
  fill: #FF5700;
}
.svg_links-discord :hover{
  fill: #5865f2;
}
/*footer items--------------------------------------------------------*/

.footer-items-con{
  padding: 1rem 0rem;
}
.footer-item{
  font-size: 2rem;
  padding: 2px;
  list-style: none;
}
.footer-links{
  color: var(--fg);
  text-decoration: none;
}
.footer-links :hover{
  color: var(--color-primary-light);
}
/*----About page-------------------------------------------------------*/
.about_special_link{
  color: var(--color-primary);
  text-decoration: none;
  font-size: 2.1rem;
  line-height: 1.8;
}
.about_special_link:hover{
  color: var(--fg-light);
}
.footnote{
  font-size: 1rem;
}
.footnote a{
	color: var(--fg)
}
.footnote a:hover{
	color: var(--color-primary-light)
}
/*----Digital Art------------------------------------------------------*/
.art-section_title{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.cat{
	color: var(--fg);
	fill: var(--fg);
  background-color: var(--color-primary);
  padding: 1px;
	font-size: 1.5rem;
	display: flex;
	margin-top: 1rem;
}

.icons_container{
  padding: 1rem;
}

.small_icons{
  fill: var(--fg);
}

.art-proj-sec{
  background:linear-gradient(var(--bg), rgba(0,0,0,.1)), url(/img/transparent_picture.png) no-repeat;
  background-repeat: no-repeat;
  background-position: right top;
  background-position-x: 500px;
  background-position-y: 700px;
  margin-top: 40px;
  background-attachment: fixed;
  background-size: 11em;
  padding: 0rem;
  margin: 0rem 0rem 10rem 0rem !important;
}

.inner-width{
  margin: 0 3rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 980px){
  .inner-width{
    flex-direction: column;
    margin: 0 0.5rem;
  }
}
.works{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.artwork{
  width: calc(100% - 10px);
  height:fit-content;
  overflow: hidden;
  border-radius: 1.5px;
  margin: 10px 0;
  cursor: pointer;
  position: relative;
  display: flex;
}
@media screen and (max-width: 980px){
  .artwork{
    width: calc(100% - 10px);
  }
}
@media screen and (max-width: 600px){
  .artwork{
    width: 100%;
  }
}

.artwork img{
  width: 100%;
  object-fit: cover;
  transition: .4s linear;
}

.artwork::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--art-thumb-hov);
  backdrop-filter: blur(20%);
  transition: .6s linear;
  opacity: 0;
}

.artwork .info{
  position: absolute;
  z-index: 2;
  bottom: 40%;
  top: 40%;
  left: 20%;
  right: 20%;
  text-align: center;
  color: var(--fg);
  font-size: 1.7rem;
  transition: .8s linear;
  opacity: 0;
}

/* .artwork:hover img{
 
} */

.artwork:hover::before,
.artwork:hover .info
{
  opacity: 1;
}
.featured{
  grid-row: span2;
}
/*-- links --*/
.links-link{
  color: var(--fg);
}
.links-link:hover{
  color: var(--color-primary-light);
}
.square{
  height: 60rem;
}
@media only screen and (max-width: 58.25em) {
  .square {
    height: 26rem;
  }
}
@media only screen and (max-width: 100em) {
  .square {
    height: 50rem;
  }
}
@media only screen and (max-width: 70em) {
  .square {
    height: 40rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .square {
    height: 40rem;
  }
}
/*---*/

 /* translated apps cards ----------------------- */
 /* @import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
 :root {
   --user-button-circle: rgba(0,0,0,0.025);
   --user-button-cardborder: rgba(255,255,255,0.25);
   --user-button-text:#323133;
   --user-button-shadow:rgba(0,0,0,0.1);
 }
 
  
  .options {
   display: flex;
   flex-direction: row;
   align-items: stretch;
   overflow: hidden;
   min-width: 600px;
   max-width: 900px;
   width: calc(100% - 100px);
   height: 400px;
   margin-right: auto;
   margin-left: auto;
   font-size: 1.5rem;
 }
 @media screen and (max-width: 718px) {
    .options {
     min-width: 520px;
   }
    .options .option:nth-child(5) {
     display: none;
   }
 }
 @media screen and (max-width: 638px) {
    .options {
     min-width: 440px;
   }
    .options .option:nth-child(4) {
     display: none;
   }
 }
 @media screen and (max-width: 558px) {
    .options {
     min-width: 360px;
   }
    .options .option:nth-child(3) {
     display: none;
   }
 }
 @media screen and (max-width: 478px) {
    .options {
     min-width: 280px;
   }
    .options .option:nth-child(2) {
     display: none;
   }
 }
  .options .option {
   position: relative;
   overflow: hidden;
   min-width: 60px;
   margin: 10px;
   background-size: auto 120%;
   background-position: center;
   cursor: pointer;
   transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
 }
  .options .option.active {
   flex-grow: 10000;
   transform: scale(1);
   max-width: 600px;
   margin: 0px;
   border-radius: 40px;
   background-size: auto 100%;
   &:active {
      transform:scale(0.9);
   }
 }
  .options .option.active .shadow {
    box-shadow: inset 0 -120px 50px -20px var(--bg), inset 0 -120px 50px -100px var(--bg);
 }
  .options .option.active .label {
   bottom: 20px;
   left: 20px;
 }
  .options .option.active .label .info > div {
   left: 0px;
   opacity: 1;
 }
  .options .option:not(.active) {
   flex-grow: 1;
   border-radius: 30px;
 }
  .options .option:not(.active) .shadow {
   bottom: -40px;
   box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
 }
  .options .option:not(.active) .label {
   bottom: 10px;
   left: 10px;
 }
  .options .option:not(.active) .label .info > div {
   left: 20px;
   opacity: 0;
 }
  .options .option .shadow {
   position: absolute;
   bottom: 0px;
   left: 0px;
   right: 0px;
   height: 120px;
   transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
 }
  .options .option .label {
   display: flex;
   position: absolute;
   right: 0px;
   height: 40px;
   transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
 }
  .options .option .label .icon {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   min-width: 40px;
   max-width: 40px;
   height: 40px;
   border-radius: 100%;
   background-color: var(--fg-light);
 }
  .options .option .label .info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 10px;
   color: var(--fg);
   white-space: pre;
 }
  .options .option .label .info > div {
   position: relative;
   transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
 }
  .options .option .label .info .main {
   font-weight: bold;
   font-size: 1.9rem;
 }
  .options .option .label .info .sub {
   transition-delay: 0.1s;
 }
  icons colors 
  .fa-4{
  color: #348147;
 }
 .fa-file-pdf{
  color: #d55028;
 }
 .fa-folder-open{
  color: #13aee5;
 } 

 .droptop4{
  background-image: url(../img/droptop-4.png); 
  background-repeat: no-repeat; 
  background-color:var(--bg-card)
 }
 .xodo{
  background-image: url(../img/xodo.png); 
  background-repeat: no-repeat; 
  background-color:var(--bg-card)
 }
 .onecommander{
  background-image: url(../img/onecommander.png); 
  background-repeat: no-repeat; 
  background-color:var(--bg-card)
 }*/
 .sub_link{
  color: var(--fg);
 }
 .sub_link:hover{
  color: var(--color-primary-light);
 } /*
 /*---------------------------------------------------------------*/
 /* Parallax Depth Cards -----------------*/

.cards_p {
  line-height: 1.5em;
  font-size: 1.5rem;
}

.cards_h1 + .cards_p, .cards_p + .cards_p {
  margin-top: 10px;
}

.cards_container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}
.card-wrap:hover .card-info {
  transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 840px;
  height: 320px;
  background-color: var(--bg-card);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media screen and (max-width: 56rem) {
  .card {
   width: 560px;
   height: 220px;
 }
}
@media screen and (max-width: 35rem) {
  .card {
   width: 360px;
   height: 220px;
 }
 .card-info .cards_h1 {
  font-size: 2rem!important;
}
}
@media screen and (max-width: 25rem) {
  .card {
   width: 260px;
   height: 120px;
 }
 .card-info .cards_h1 {
  font-size: 1.7rem!important;
}
}

.card-bg {
  opacity: 1;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}
.card-bg:hover {
  opacity: 0.7;
}

.card-info {
  padding: 20px;
  width: 90%;
  position: absolute;
  bottom: 0;
  color: var(--fg);
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
  position: relative;
  z-index: 1;
}
.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, var(--fg-transparent) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-info .cards_h1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}
 /*---------------------------------------------------------------*/
/* Scrollbar --------------------*/
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
  z-index: 100;
  position: fixed;
}

::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10vw;
}
/*---------------------------------------*/

/*waves effect */

.waves{
  line-height: 0px;
}

/*---------------------------------------*/